@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0000c9;
  --accent: #a8bcff;
}

@theme inline {
  --font-sans: var(--font-noto-sans), system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-primary: var(--primary);
  --color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
